html, body {
  height: 100%;
}

.super {
  background: linear-gradient(to bottom right,#50a3a2 0%,#53e3a6 100%);
  min-height: 100%;
  height: 100%;
}

.main {
  min-height: 100%;
  height: 100%;

}

.home-left {
  background: rgba(103, 132, 105, 0.68);
  height: 100%;
}

.home-right {
  background: rgba(103, 132, 105, 0.68);
  height: 100%;
}
