<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>VRoom</title>

    <!-- Bootstrap -->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title></title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/vendor/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/vendor/bootstrap.min.js"></script>

    <link href="css/styles.css" rel="stylesheet">
  </head>
<body>
  <div class="super">
    <div class="container main">
      <div class="home-left row col-md-6 vertical-center-container">
        <form class="lecture" id="teacher-form" action="lecture" method="POST">
          <h1>Start a lecture</h1>
          <input class="input-field" name="room" type="text" placeholder="Room name" >
          <select class="form-control" name="lang" id="teacher-lang"></select>
          <input class="btn btn-success" type="submit" value="Start">
        </form>
      </div>
      <div class="home-right row col-md-6 vertical-center-container">
        <form class="lecture" id="student-form" action="join" method="POST">
          <h1>Join a lecture</h1>
          <input class="input-field" name="room" type="text" placeholder="Room name" >
          <span>Audio Language:</span><select class="form-control" name="audio-lang" id="student-audio-lang"></select>
          <br>
          <span>Subtitle Language:</span><select class="form-control" name="sub-lang" id="student-sub-lang"></select>
          <input class="btn btn-success" type="submit" value="Join">
        </form>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  var languages = localStorage.languages;
  try {
    languages = JSON.parse(languages);
  }
  catch(err) {
    languages = {};
  }

  if (!languages['teacher']) {
    languages['teacher'] = 'en';
  }
  
  if (!languages['student-audio']) {
    languages['student-audio'] = 'en';
  }

  if (!languages['student-sub']) {
    languages['student-sub'] = 'en';
  }

  // $.get('/languages', function(data) {
    data = '{"text":{"ru":{"dir":"ltr","name":"Russian"},"sr-Latn":{"dir":"ltr","name":"Serbian (Latin)"},"lt":{"name":"Lithuanian","dir":"ltr"},"sv":{"dir":"ltr","name":"Swedish"},"to":{"name":"Tongan","dir":"ltr"},"fil":{"dir":"ltr","name":"Filipino"},"tlh":{"name":"Klingon","dir":"ltr"},"bn":{"dir":"ltr","name":"Bangla"},"ar":{"name":"Arabic","dir":"rtl"},"ht":{"dir":"ltr","name":"Haitian Creole"},"fj":{"dir":"ltr","name":"Fijian"},"he":{"name":"Hebrew","dir":"rtl"},"otq":{"dir":"ltr","name":"Querétaro Otomi"},"hi":{"name":"Hindi","dir":"ltr"},"fi":{"name":"Finnish","dir":"ltr"},"hu":{"dir":"ltr","name":"Hungarian"},"fa":{"name":"Persian","dir":"rtl"},"tr":{"dir":"ltr","name":"Turkish"},"el":{"dir":"ltr","name":"Greek"},"yue":{"dir":"ltr","name":"Cantonese (Traditional)"},"sm":{"name":"Samoan","dir":"ltr"},"bg":{"dir":"ltr","name":"Bulgarian"},"en":{"name":"English","dir":"ltr"},"nb":{"dir":"ltr","name":"Norwegian"},"es":{"name":"Spanish","dir":"ltr"},"pl":{"dir":"ltr","name":"Polish"},"ms":{"name":"Malay","dir":"ltr"},"id":{"name":"Indonesian","dir":"ltr"},"af":{"dir":"ltr","name":"Afrikaans"},"sr-Cyrl":{"dir":"ltr","name":"Serbian (Cyrillic)"},"mt":{"dir":"ltr","name":"Maltese"},"ty":{"dir":"ltr","name":"Tahitian"},"cs":{"dir":"ltr","name":"Czech"},"lv":{"dir":"ltr","name":"Latvian"},"it":{"dir":"ltr","name":"Italian"},"zh-Hans":{"dir":"ltr","name":"Chinese Simplified"},"th":{"name":"Thai","dir":"ltr"},"hr":{"dir":"ltr","name":"Croatian"},"nl":{"name":"Dutch","dir":"ltr"},"pt":{"name":"Portuguese","dir":"ltr"},"ur":{"name":"Urdu","dir":"rtl"},"ja":{"dir":"ltr","name":"Japanese"},"mww":{"dir":"ltr","name":"Hmong Daw"},"zh-Hant":{"name":"Chinese Traditional","dir":"ltr"},"et":{"dir":"ltr","name":"Estonian"},"da":{"dir":"ltr","name":"Danish"},"sl":{"name":"Slovenian","dir":"ltr"},"sw":{"name":"Kiswahili","dir":"ltr"},"sk":{"name":"Slovak","dir":"ltr"},"bs":{"name":"Bosnian","dir":"ltr"},"ro":{"name":"Romanian","dir":"ltr"},"cy":{"dir":"ltr","name":"Welsh"},"de":{"dir":"ltr","name":"German"},"uk":{"name":"Ukrainian","dir":"ltr"},"mg":{"dir":"ltr","name":"Malagasy"},"yua":{"dir":"ltr","name":"Yucatec Maya"},"vi":{"dir":"ltr","name":"Vietnamese"},"fr":{"name":"French","dir":"ltr"},"ko":{"name":"Korean","dir":"ltr"},"ca":{"name":"Catalan","dir":"ltr"}},"speech":{"ar-EG":{"name":"Arabic","language":"ar"},"zh-TW":{"language":"zh-Hant","name":"Chinese Traditional"},"ja-JP":{"language":"ja","name":"Japanese"},"ru-RU":{"name":"Russian","language":"ru"},"de-DE":{"language":"de","name":"German"},"en-US":{"name":"English","language":"en"},"zh-CN":{"language":"zh-Hans","name":"Chinese Simplified"},"es-ES":{"language":"es","name":"Spanish"},"fr-FR":{"language":"fr","name":"French"},"pt-BR":{"name":"Portuguese","language":"pt"},"it-IT":{"name":"Italian","language":"it"}}}';
    
    langs = JSON.parse(data);
    $.each(langs['speech'], function(key, value) {
      if (value['language'] == languages['teacher']) {
        $('#teacher-lang').append('<option value="' + value['language'] + '" selected="selected">' + value['name'] + '</option>')
      }
      else {
        $('#teacher-lang').append('<option value="' + value['language'] + '">' + value['name'] + '</option>')
      }
      if (value['language'] == languages['student-audio']) {
        $('#student-audio-lang').append('<option value="' + value['language'] + '" selected="selected">' + value['name'] + '</option>')
      }
      else {
        $('#student-audio-lang').append('<option value="' + value['language'] + '">' + value['name'] + '</option>')
      }
    });
    $.each(langs['text'], function(key, value) {
      if (key == languages['student-sub']) {
        $('#student-sub-lang').append('<option value="' + key + '" selected="selected">' + value['name'] + '</option>')
      }
      else {
        $('#student-sub-lang').append('<option value="' + key + '">' + value['name'] + '</option>')
      }
    });
  // }).fail(console.log("error!");

  $('form').on('submit', function() {
    localStorage.languages = JSON.stringify({
      'teacher': $('#teacher-lang').val(),
      'student-audio': $('#student-audio-lang').val(),
      'student-sub': $('#student-sub-lang').val()
    });
  });

</script>
</html>
